@charset "ISO-8859-1";

body {
	height: 100%;
}

html {
	height: 100%;
	background: aliceblue;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* opcional */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5; /* opcional */
    color: #333;
    border-top: 1px solid #ddd;
    z-index: 9999;
    font-size: 10px;
    font-family: arial;
}



.header {
	padding-bottom: 5px
}

.container {
	max-width: 100%;
	height: 100%;
}

.content {
	max-width: 100%;
	height: 100%;
	height: calc(100% - 50px);
	background: white;
}

.error-container {
	text-align: center;
	padding: 40px 50px;
	border-radius: 16px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
	max-width: 420px;
	color: red;
}

.error-icon {
	font-size: 4rem;
	color: #ff5252;
}

h1 {
	margin-top: 10px;
	font-size: 1.6rem;color: red;
}

p {
	margin-bottom: 20px;
	color: red;
}

.back-button {
	margin-top: 10px;
}

.ui-separator {
    background: transparent !important;
    border: none !important;
    height: 1px; 
}

.topo-logo {
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

