@charset "ISO-8859-1";

body {
	height: 100%;
	overflow: hidden;
}

html {
	height: 100%;
	background: aliceblue;
	overflow: hidden;
}

.footer {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 10px;
}

.header {
	padding-bottom: 5px
}

.container {
	max-width: 100%;
	height: 100%;
}

.content {
	max-width: 100%;
	height: 100%;
	height: calc(100% - 50px);
	overflow: auto;
	background: white;
}

.error-container {
	text-align: center;
	padding: 40px 50px;
	border-radius: 16px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
	max-width: 420px;
	color: red;
}

.error-icon {
	font-size: 4rem;
	color: #ff5252;
}

h1 {
	margin-top: 10px;
	font-size: 1.6rem;color: red;
}

p {
	margin-bottom: 20px;
	color: red;
}

.back-button {
	margin-top: 10px;
}